// Bootstrap plugins
script(src='/javascripts/bootstrap/plugins/select.js')
script(src='/javascripts/bootstrap/plugins/check.js')
script(src='/javascripts/bootstrap/plugins/datepicker.js')
script(src='/javascripts/bootstrap/plugins/dial.js')

// Scripts footer
script(src='/javascripts/inicializador.js')
script(src='/javascripts/app.js')