.ajax-loader
  #fadingBarsG
    #fadingBarsG_1.fadingBarsG
    #fadingBarsG_2.fadingBarsG
    #fadingBarsG_3.fadingBarsG
    #fadingBarsG_4.fadingBarsG
    #fadingBarsG_5.fadingBarsG
    #fadingBarsG_6.fadingBarsG
    #fadingBarsG_7.fadingBarsG
    #fadingBarsG_8.fadingBarsG

// Bootstrap plugins
script(src='/javascripts/bootstrap/plugins/select.js')
script(src='/javascripts/bootstrap/plugins/check.js')
script(src='/javascripts/bootstrap/plugins/datepicker.js')
script(src='/javascripts/bootstrap/plugins/dial.js')
script(src='/javascripts/bootstrap/plugins/fileinput.js')

// Scripts footer
script(src='/javascripts/inicializador.js')
script(src='/javascripts/app.js')