footer
  .columna01
    .logoimagen
      | K
    .logotexto
      | J
  .columna02
    a(href="") Síguenos en Facebook
    p Mantente al día de nuestras últimas novedades y participa en los debates sobre el futuro de Joinity desde nuestra fanpage.
  .columna03
    a(href="") Síguenos en Twitter
    p Atenderemos tus preguntas y sugerencias y te informaremos en tiempo real de la actualidad relacionada con nuestra plataforma.
  .columna04
    a(href="") ¿Tienes algún problema?
    p.soporte Puedes escribirnos a
      span moc.ytinioj@etropos
      | y te responderemos en el plazo más breve posible de tiempo. ¡Gracias!
  .links
    @2013, JOINITY · 
    a(href="/media/privacidad-joinity.pdf") POLÍTICA DE PRIVACIDAD
    |  · 
    a(href="/media/privacidad-joinity.pdf") TOS
    |  · 
    a(href="/media/privacidad-joinity.pdf") FAQ
