meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
meta(http-equiv="Content-type", content="text/html;charset=UTF-8")
meta(name="keywords", content="keywords, all")
meta(name="description", content="description, all")

// Variable tituloPagina
title= "tituloPagina"
include favicons

// Less files
link(rel='stylesheet/less', type="text/css", href='/static/stylesheets/app.less')

// Scripts
script(src='/static/javascripts/jquery-1.10.2.min.js')
script(src='/static/javascripts/less-1.5.0.min.js')

// Bootstrap
script(src='/static/javascripts/bootstrap/transition.js')
script(src='/static/javascripts/bootstrap/alert.js')
script(src='/static/javascripts/bootstrap/button.js')
script(src='/static/javascripts/bootstrap/carousel.js')
script(src='/static/javascripts/bootstrap/collapse.js')
script(src='/static/javascripts/bootstrap/dropdown.js')
script(src='/static/javascripts/bootstrap/modal.js')
script(src='/static/javascripts/bootstrap/tooltip.js')
script(src='/static/javascripts/bootstrap/popover.js')
script(src='/static/javascripts/bootstrap/scrollspy.js')
script(src='/static/javascripts/bootstrap/tab.js')
script(src='/static/javascripts/bootstrap/affix.js')

