.progress-top-bar
  form.giant.login(role="form")
    .form-group
      input.form-control.giant.first(placeholder="Escribe aquí tu correo electrónico...")
      input.form-control.giant.second(placeholder="...y aquí tu contraseña y pulsa enter",type="password")
  form.giant.invite(role="form")
    .form-group
      label.first Solicita una invitación
      input.form-control.giant.second(placeholder="Introduce tu correo electrónico aquí")
.darken