
.btn.amarillo.giant.embossed.change-text
  i.icon-user
  | Sign in
.btn.amarillo.big.embossed
  i.icon-user
  | Sign in
.btn.amarillo.normal.embossed
  i.icon-user
  | Sign in
.btn.amarillo.small.embossed.change-text
  i.icon-user
  | Sign in
.btn.amarillo.tiny.embossed.change-text
  i.icon-user
  | Sign in
.btn.btn-block.claro.small.embossed.change-text
  i.icon-user
  | Sign in