.content
  .brand.dropdown.notification
    a.logoCenter(href="/")
      img.logo(src="/images/ui/logo@2x.png")
    .logo-notification(data-toggle="dropdown")
      .globo 3
    ul.dropdown-menu(role="menu",aria-labelledby="dropdownMenu1")
      li.selected
        dt Notificaciones
      li(role="presentation")
        a.opt.unread(role="menuitem",tabindex="-1",href="")
          | Alguien te ha escrito bla bla
      li(role="presentation")
        a.opt.read(role="menuitem",tabindex="-1",href="")
          | Esto es otra notificación, una vez leida
  
  .user
    .centerer
      a.img.avatar.big(href="/user/me", style="background-image:url('/images/joinity-temp/usuario.png');")
      ul
        li
          a.claro(href="/user/me")
            h6 Profile
        li
          a.claro(href="/user/me")
            h6 Contacts
        li
          a.claro(href="/payments/bills")
            h6 Bills
        li
          a.claro(href="/unlogged")
            h6 Log out
  
  .utility
    a.btn.azul.normal.text-center.btn-block(href="/joinities/create/1") Create a joinity
    a.btn.azul.normal.text-center.btn-block(href="#search",data-toggle="modal")
      i.icon-search
  
  .links
    p.claro.lined.small Joinities
    a.claro(href="/")
      h6 View all
    ul
      li
        a.btn.azul.btn-block(href="/joinities/hobbies/all")
          .img.small(style="background-image:url('/images/joinity-temp/aficiones.png');")
          h6 Hobbies
      li
        a.btn.azul.btn-block(href="")
          .img.small(style="background-image:url('/images/joinity-temp/compras01.jpg');")
          h6 Shopping
      li
        a.btn.azul.btn-block(href="")
          .img.small(style="background-image:url('/images/joinity-temp/familyandfriends.png');")
          h6 Fam. & friends
  
  .my-sections
    ul
      li
        a.btn.azul.big.btn-block(href="/tasks")
          i.icon-tasks
          | My tasks
      li
        a.btn.azul.big.btn-block(href="/messages")
          i.icon-comment
          | My messages
      li
        a.btn.azul.big.btn-block.active(href="/myjoinities")
          i.icon-group
          | My joinities
      li
        a.btn.azul.big.btn-block(href="/events/eventName")
          i.icon-calendar
          | My events
      li
        a.btn.azul.big.btn-block(href="/reservations")
          i.icon-book
          | Reservations
      li
        a.btn.azul.big.btn-block(href="/reservations/manage")
          i.icon-book
          | Reservations (brand)