.plans
  p.gris.lined Plans right for you
  select.selectpicker.btn.grisclaro.normal.text-left.btn-block
    optgroup(label="Filter your plans")
      option.unread En mi zona
      option.unread De mis aficiones
  ul
    li
      figure
        a.rojo(href="/joinitys/hobbies/joinityName")
          .img.small.display-block(style="background-image:url('/images/joinity-temp/aficiones.png');")
          figcaption
            h5.gris Comer hasta reventar en la plaza San Marcos
    li
      figure
        a.verde(href="/joinitys/hobbies/joinityName")
          .img.small.display-block(style="background-image:url('/images/joinity-temp/familyandfriends.png');")
          figcaption
            h5.gris Comer hasta reventar en la plaza San Marcos
    li
      figure
        a.azul(href="/joinitys/hobbies/joinityName")
          .img.small.display-block(style="background-image:url('/images/joinity-temp/aficiones.png');")
          figcaption
            h5.gris Comer hasta reventar en la plaza San Marcos

.products
  p.gris.lined Starred products
  ul
    li
      a(href="")
        .amount
          h6.oscuroclaro 57€
        .title
          h6.oscuroclaro iPhone 5s
        .img.normal.display-block(style="background-image:url('/images/joinity-temp/compras02.png');")
    li
      a(href="")
        .amount
          h6.oscuroclaro 57€
        .title
          h6.oscuroclaro iPad retina
        .img.normal.display-block(style="background-image:url('/images/joinity-temp/compras01.jpg');")
    //- El destacado
    li.starred
      a(href="")
        .amount
          h2.claro 57€
        .title
          h4.claro Louis Vuitton
          .btn.transparente.small 55 días
        .img.big.display-block(style="background-image:url('/images/joinity-temp/compras03.jpg');")
    li
      a(href="")
        .amount
          h6.oscuroclaro 57€
        .title
          h6.oscuroclaro iPad retina
        .img.normal.display-block(style="background-image:url('/images/joinity-temp/compras01.jpg');")
    li
      a(href="")
        .amount
          h6.oscuroclaro 57€
        .title
          h6.oscuroclaro iPhone 5s
        .img.normal.display-block(style="background-image:url('/images/joinity-temp/compras02.png');")