.modal.fade#search(tabindex="-1",role="dialog",aria-labelledby="modalLabel",aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header
        i.icon-remove.close(data-dismiss="modal",aria-hidden="true")
      .modal-body
        
        form.giant
          input.form-control.giant.framed.amarillo(placeholder="Busca grupos, amigos, aficiones, lugares...")
          // .btn.giant.amarillo Busca en Joinity

        ul.nav.nav-tabs#search-result
          li.active
            a(href="#users" data-toggle="tab").btn.normal.transparente.text-transform Users
          li
            a(href="#joinities" data-toggle="tab").btn.normal.transparente.text-transform Joinities
          li
            a(href="#places" data-toggle="tab").btn.normal.transparente.text-transform Places
          li
            a(href="#hobbies" data-toggle="tab").btn.normal.transparente.text-transform Hobbies


        .tab-content
          .tab-pane.active#users
            p.claro Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Curabitur blandit tempus porttitor.
          .tab-pane#joinities
            p.claro Joinities
          .tab-pane#places
            p.claro Places
          .tab-pane#hobbies
            p.claro Hobbies
