a(href="/")
  img.logo(src="/static/images/ui/logo@2x.png")
.float-right
  .btn.amarillo.text-transform.normal.embossed.invitebtn
    .hidden-xs Solicita una invitación
    .visible-xs Register
    
  .btn.azul.text-transform.normal.embossed.logbtn
    .hidden-xs Iniciar sesión
    .visible-xs Log in