img.logo(src="/images/ui/logo@2x.png")
.float-right
  .btn.amarillo.text-transform.normal.embossed
    | Solicita una invitación
  a.btn.azul.text-transform.normal.embossed(href="/")
    | Inicia sesión