a(href="/")
  img.logo(src="/images/ui/logo@2x.png")
.float-right
  .btn.amarillo.text-transform.normal.embossed.invitebtn
    | Solicita una invitación
  .btn.azul.text-transform.normal.embossed.logbtn
    | Inicia sesión