.banner.cover.text-center(style="background-image:url('/static/images/joinity-temp/usuario-fondo.png')")
  .top-data
    .votacion.no-votado
      i.icon-star.active
      i.icon-star.active
      i.icon-star
      i.icon-star
      i.icon-star
    
  .main-data
    .img.avatar.big(style="background-image:url('/static/images/joinity-temp/usuario.png')")
    h1.claro Fernando Guirao
    .btn.amarillo.normal.alargado Sois amigos
    
  .bottom-data
    .visible-data
      ul
        li.no-number
          h6.claro En Valencia
        li
          h6.claro
            b 270
            | contactos
        li
          h6.claro
            b 14
            | joinities
        li
          h6.claro
            b 16
            | aficiones