h3.font.oscuro.lined Datos personales
.container-2-columns
  ul
    li
      p.first-column Nombre completo
      p.second-column adiós
    li
      p.first-column Correo
      p.second-column fernando@bueninvento.es
    li
      p.first-column Sexo
      p.second-column Hombre
    li
      p.first-column Edad
      p.second-column 32 años
    li
      p.first-column Ciudad
      p.second-column Valencia
    li
      p.first-column Código postal
      p.second-column 46010

h3.font.oscuro.lined Contactos
ul.list
  li
    .img.small(style="background-image:url('/images/joinity-temp/familyandfriends.png');")
    p.oscuro
      b Borja de Gregorio
      span Valencia
    .btn.small.azul.float-right.text-transform Sois amigos
  li
    .img.small(style="background-image:url('/images/joinity-temp/usuario.png');")
    p.oscuro
      b Borja de Gregorio
      span Valencia
    .btn.small.amarillo.float-right.text-transform No sois amigos

h3.font.oscuro.lined Aficiones
ul.list
  li
    .img.small(style="background-image:url('/images/joinity-temp/familyandfriends.png');")
    p.oscuro
      b Apps
      span Tecnología
    .btn.small.azul.float-right.text-transform Ver afición
  li
    .img.small(style="background-image:url('/images/joinity-temp/usuario.png');")
    p.oscuro
      b Tenis
      span Deporte
    .btn.small.azul.float-right.text-transform Ver afición
