.modal.fade#modal-imagenes(tabindex="-1",role="dialog",aria-labelledby="modalLabel",aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header
        i.icon-remove.close(data-dismiss="modal",aria-hidden="true")
      .modal-body
        .img.giant(style="background-image:url('/static/images/joinity-temp/compras01.jpg');")