.inside
  
  // BOTONES
  a.btn.tiny.amarillo.embossed.text-transform(href="/user/edit") Edita tu perfil

  .btn.btn-block.gris.tiny.text-transform.btn-icon
    i.icon-male
    | Datos personales
  .btn.btn-block.gris.tiny.text-transform.btn-icon
    i.icon-group
    | Contactos
  .btn.btn-block.gris.tiny.text-transform.btn-icon
    i.icon-heart
    | Aficiones
  .btn.tiny.azul.embossed.text-transform Envíale un mensaje
  .his-pictures
    a.img.avatar.tiny(style="background-image:url('/static/images/joinity-temp/familyandfriends.png');" href="#modal-imagenes",data-toggle="modal")
    a.img.avatar.tiny(style="background-image:url('/static/images/joinity-temp/compras02.png');" href="#modal-imagenes",data-toggle="modal")
    a.img.avatar.tiny(style="background-image:url('/static/images/joinity-temp/aficiones.png');" href="#modal-imagenes",data-toggle="modal")
    a.img.avatar.tiny(style="background-image:url('/static/images/joinity-temp/compras01.jpg');", href="#modal-imagenes",data-toggle="modal")
  include modalImagenes