.banner.sliced
  .slice.cover(style="background-image:url('/static/images/joinity-temp/background.jpg')")
    .bottom-data
      .visible-data
        ul
          li
            a.btn.amarillo.tiny.text-transform Administra este joinity
  .slice
    .informacion
      .top-info
        h6.oscuro Código de producto 1567346
        .votacion.no-votado.float-right
          i.icon-star.active
          i.icon-star.active
          i.icon-star
          i.icon-star
          i.icon-star
        h3.oscuro Monster Inspiration Noise Isolating Over-Ear Headphones Black - Refurbished
      .box-info
        .data-shopping
          h6.gris
            i.icon-money.icon-normal
            | Precio mercado
            span 2100€
          h6.gris
            i.icon-user.icon-normal
            | Compran
            span 55
            | joiners
        .sandclock.float-right
          h2.oscuro
            span 1
            span 5
            .sand(style="height:50%;")
          h6.gris Days left
        .timeline
          ul.popups
            li.reached
              h6.gris
                span 0
                | joiners
              .bubble 1900€
            li.middle.actual
              .bubble
                h2.font 1250
                  span €
                .btn.amarillo.small.text-transform Cómpralo ahora
            li.not-reached
              h6.gris
                span 155
                | joiners
              .bubble 1050€
          .progress-line
            .progress(style="width:44%");
      .bottom-info
        .thumbs
          a(href="")
            .img.thumb.tiny()
          a(href="")
            .img.thumb.tiny()
          a(href="")
            .img.thumb.tiny()
          a(href="")
            .img.thumb.tiny()
        .btn.grisclaro.tiny.text-transform Recomiéndalo