.navLeft
  h2.c0.font.lined.oscuroclaro Datos generales del producto
  h5.oscuroclaro Descripción
  p.oscuroclaro ** Ships in a Polybag **Experience Monster's legendary sound performance with a revolutionary pair of headphones that you customize to suit your style. Crystal-clear highs, powerful-deep bass, and an incredibly detailed midrange brings your entire music library to life with impressive realism and without distortion. A full line of interchangeable headbands lets you express your individuality in ways you've never imagined. It's Serious Audio in High Style.** Ships in a Polybag **
  h5.oscuroclaro Características generales
  p.oscuroclaro Over-Ear, Noise Isolating - Black
    | Personalize your look through interchangeable headbands
    | Passive noise Isolation
    | Super-comfortable ear cushions for long trips
    | Includes a ControlTalk cable for controlling music and phone calls from iPad®, iPhone® and iPod®
    | Includes bonus matching color Raptor headband
    | Includes a ControlTalk Universal cable for controlling Androids, tablets and other devices
    | Also includes a straight mini-to-mini cable for airplane listening
    | Fully compatible with Skype™
  br
  h2.c1.font.lined.oscuroclaro Envío y condiciones
  h5.oscuroclaro Descripción
  p.oscuroclaro ** Ships in a Polybag **Experience Monster's legendary sound performance with a revolutionary pair of headphones that you customize to suit your style. Crystal-clear highs, powerful-deep bass, and an incredibly detailed midrange brings your entire music library to life with impressive realism and without distortion. A full line of interchangeable headbands lets you express your individuality in ways you've never imagined. It's Serious Audio in High Style.** Ships in a Polybag **
  h5.oscuroclaro Características generales
  p.oscuroclaro Over-Ear, Noise Isolating - Black
    | Personalize your look through interchangeable headbands
    | Passive noise Isolation
    | Super-comfortable ear cushions for long trips
    | Includes a ControlTalk cable for controlling music and phone calls from iPad®, iPhone® and iPod®
    | Includes bonus matching color Raptor headband
    | Includes a ControlTalk Universal cable for controlling Androids, tablets and other devices
    | Also includes a straight mini-to-mini cable for airplane listening
    | Fully compatible with Skype™