.inside.navRight
  a.c0.btn.btn-block.claro.tiny.text-transform.btn-icon()
    i.icon-info
    | Datos generales
  a.c1.btn.btn-block.claro.tiny.text-transform.btn-icon()
    i.icon-truck
    | Envío y condiciones
  a.c2.btn.btn-block.claro.tiny.text-transform.btn-icon()
    i.icon-legal
    | Denuncia un problema
  a.c3.btn.btn-block.claro.tiny.text-transform.btn-icon()
    i.icon-heart
    | Comparte este joinity