.inside
  a.btn.btn-block.claro.tiny.text-transform.btn-icon(href="/brands/brandName")
    i.icon-info
    | Datos generales
  a.btn.btn-block.claro.tiny.text-transform.btn-icon(href="/brands/brandName")
    i.icon-truck
    | Envío y condiciones
  a.btn.btn-block.claro.tiny.text-transform.btn-icon(href="/brands/brandName")
    i.icon-legal
    | Denuncia un problema
  a.btn.btn-block.claro.tiny.text-transform.btn-icon(href="/brands/brandName")
    i.icon-heart
    | Comparte este joinity