extends layout-html

block head

block content

  //- Variable nombrePagina Ej: #home
  //- Variable tipoPagina Ej: 3columns
  #nombrePagina.tipoPagina.app
    header
      include ../includes/header
      
    nav.left-bar
      include ../includes/leftBar
    
    .main-content
      //- Aquí extendemos la plantilla a su contenido específico
      block mainContent
      
      //block footerContent
      // .jFooter
      //include ../includes/footer
    
    nav.right-bar
      include ../includes/rightBar
    
    //- Modales
    // include ../includes/searchModal
    //block modalContent