.two-columns-layout {
  height:100%;
  min-height: 1000px;
}

.left-column {
  .make-xs-column(8);
  .make-sm-column(8);
  .make-md-column(7);
  background-color:white;
  height:100%;
}

.right-column {
  .make-xs-column(4);
  .make-sm-column(4);
  .make-md-column(5);
  height:100%;
  background-color:@grismuyclaro;
}
