.banner.cover.text-center(style="background-image:url('/images/joinity-temp/escocia.png')")
    
  .main-data
    h1.claro Una escapada a escocia
    ul
      li.no-number
        h6.claro En Valencia
      li
        h6.claro
          b 270
          | contactos
      li
        h6.claro
          b 14
          | joinities
      li
        h6.claro
          b 16
          | aficiones
    .btn.azul.normal.alargado.embossed.modal-invite Suena bien. Quiero verlo.