extends ../../../../layouts/layout-2-sidebars
block mainContent
  .layout-joinity
    include header
    include mainContent
    include modal-votaciones
    include modal-regalo
    include modal-gasto
    include modal-reserva-restaurante
    include modal-reserva-hotel