//include ../../../mixins/select
br
br
br
.form-group.rojo.normal.task
  input.check.rojo#uno(type="checkbox",value="yes",name="uno",data-label="Right positioned label (no param)")

.form-group.rojo.normal
  input.check(type="radio",value="yes",name="answer",data-label="Este es el label")
  
.form-group.azul.giant.task
  input.check.rojo#uno(type="checkbox",value="yes",name="uno",data-label="Right positioned label (no param)")

.form-group.azul.giant
  input.check(type="radio",value="yes",name="answer",data-label="Este es el label")
  
.form-group.azul.big.task
  input.check.rojo#uno(type="checkbox",value="yes",name="uno",data-label="Right positioned label (no param)")

.form-group.big.giant
  input.check(type="radio",value="yes",name="answer",data-label="Este es el label")

.form-group.azul.small.task
  input.check.rojo#uno(type="checkbox",value="yes",name="uno",data-label="Right positioned label (no param)")

.form-group.big.small
  input.check(type="radio",value="yes",name="answer",data-label="Este es el label")