//include ../../../mixins/select
br
br
br
.form-group.azul
  input.check.rojo#uno(type="checkbox",value="yes",name="uno",data-color="green",data-label="Right positioned label (no param)")
  
input.check(type="radio",value="yes",name="answer",data-color="green",data-label="Este es el label")