include ../../../mixins/select

.ui.fixed.transparent.main.menu
  .item
    p What do you want to do?
  .item.ui.form.grid
    .inline.fields
      mixin select('I want','selects',['to buy','to practize','to make a reservation'])
      mixin select('Of a product','selects2',['Technologic','Deportive','Decorative'])