//include ../../../mixins/select

br
br
br
.btn.azul.giant.embossed ¿Quieres aceptar esto?
br
br
br

.btn.amarillo Hola
.btn.verde.tiny Hola
.btn.rojo.small Hola
.btn.claro.normal Hola
.btn.oscuro.big Hola
.btn.gris Hola