//include ../../../mixins/select
br
br
br
select.selectpicker.btn.azul.normal.text-left.notification.text-transform
  optgroup(label="picnic")
    option.unread Esto es una notificación muy larga de dos líneas que no quepa en el espacio normal
    option.read Esto es una notificación muy larga de dos líneas que no quepa en el espacio normal

form.form.giant
  input.form-control.giant.framed(placeholder="Escribe aquí lo que quieras")
  input.form-control.big(placeholder="Escribe aquí lo que quieras")
  input.form-control.normal.framed(placeholder="Escribe aquí lo que quieras")
  input.form-control.small(placeholder="Escribe aquí lo que quieras")
  input.form-control.tiny.framed(placeholder="Escribe aquí lo que quieras")