//include ../../../mixins/select
br
br
br
h1.oscuro Título principal
  a.link un enlace
  | aquí y un
  span.verde texto verde y
  b un texto bold
  | aquí
h3.gris 14.000
h6.oscuro Texto pequeño con
  a.link un enlace
  | aquí
p.naranja Texto normal de párrafo en naranja
  a.link un enlace
  | aquí y un
  span.rojo texto rojo
  | aquí además de
  b bold
  aquí también 