
.pasos(style="height:200px;")
  ul
    li.activo
      h1.oscuro Pregunta del paso 1
      p Contenido del paso
      .btn.amarillo.big.play Botón para pasar
      .btn.rojo.big.rewind Botón para volver
    li
      h1.oscuro Pregunta del paso 2
      p Contenido del segundo paso
      .btn.amarillo.big.play Botón para pasar
      .btn.rojo.big.rewind Botón para volver
    li
      h1.oscuro Paso 3
      p Contenido
      .btn.amarillo.big.play Botón para pasar
      .btn.rojo.big.rewind Botón para volver