br
br
br
//- ESTO ES UN JOINITY THUMB
.joinity-thumb.azul
  .front
    p.claro.small.text-transform Nos vamos de viaje al país vasco
    p.claro.sub En la Rioja, por 35€
  .back
    .fecha
      p.claro 25
      h5.claro jun
    .donut
      p.claro 55/101
      h6.claro joiners
    .votacion
      i.icon-star.active
      i.icon-star.active
      i.icon-star
      i.icon-star
      i.icon-star
    .reseter
  .img.cover.display-block(style="background-image:url('/images/joinity-temp/avatar.jpeg')")