.messages.comments.hide
  .content
    form.giant
      .form-group.form-user
        .img.avatar.cover(style="background-image:url('/static/images/joinity-temp/usuario.png')")
        input.form-control.normal.framed(placeholder="Escríbele algo a tu amigo")
        .button-group
          input.btn.tiny.grisclaro.text-transform(type="submit") Enviar
    ul
      li.not-me
        p.small.grisclaro
          span Fernando Guirao
          | , el 25 de diciembre, 2013. 12:32 PM
        .bubble
          p.normal.oscuro Este es el mensaje lorem ipsum dolor sit amet el mensaje lorem ipsum dolor sit amet
          .img.tiny(style="background-image:url('/static/images/joinity-temp/usuario.png');")
      li.not-me
        p.small.grisclaro
          span Fernando Guirao 
          | , el 25 de diciembre, 2013. 12:32 PM
        .bubble
          p.normal.oscuro Este es el mensaje el mensaje lorem ipsum dolor sit amet el mensaje lorem ipsum dolor sit amet el mensaje lorem ipsum dolor sit amet el mensaje lorem ipsum dolor sit amet el mensaje lorem ipsum dolor sit amet
          .img.tiny(style="background-image:url('/static/images/joinity-temp/aficiones.png');")
      li.not-me
        p.small.grisclaro
          span Fernando Guirao
          | , el 25 de diciembre, 2013. 12:32 PM
        .bubble
          p.normal.oscuro Este es el mensaje lorem ipsum dolor sit amet el mensaje lorem ipsum dolor sit amet
          .img.tiny(style="background-image:url('/static/images/joinity-temp/usuario.png');")
