.inside
  
  a.btn.btn-block.gris.tiny.text-transform.btn-icon(href="#modal-votaciones",data-toggle="modal")
    i.icon-bar-chart
    | Haz una votación
  
  // EVENTOS
  h6.gris.lined Eventos
  .btn.tiny.azul.embossed.text-transform Crea un evento
  .evento-mini
    .fecha 30
      span jun
    .descripcion
      p.gris Lectura de poemas en el café de las letras con mis amigos
    .joiners
      p.gris Con
      .group
        .img.avatar.tiny(style="background-image:url('/static/images/joinity-temp/usuario.png');")
        .img.avatar.tiny(style="background-image:url('/static/images/joinity-temp/aficiones.png');")
        .img.avatar.tiny(style="background-image:url('/static/images/joinity-temp/familyandfriends.png');")
      p.gris y 30 más
    .btn.gris.btn-icon.tiny.text-transform
      i.icon-calendar
      | ¡Me apunto!

  // TAREAS
  h6.gris.lined Tareas
  .btn.tiny.azul.embossed.text-transform Crea una tarea
  .tareas
    .form-group.claro.small.task
      input.check.gris#uno(type="checkbox",value="yes",name="uno",data-label="Right positioned label (no param)")
    .form-group.claro.small.task
      input.check.gris#uno(type="checkbox",value="yes",name="uno",data-label="Right positioned label (no param)")