<!------------------------------------->
<!--! Input de chats y comentarios  -->
<!------------------------------------->

form.giant
  .form-group.form-user
    .img.avatar.cover(style="background-image:url('images/joinity-temp/avatar.jpeg')")
    input.form-control.big.framed(placeholder="Escribe aquí")
    .button-group
      .btn.small.azul.text-transform Enviar
      .btn.small.azul
        i.icon-camera.icon-large

<!---------------------------------------------->
<!--! Inputs: normales y con marco (.frame)  -->
<!---------------------------------------------->

form.giant
  input.form-control.giant.framed(placeholder="Escribe aquí lo que quieras")
  .btn.giant.azul Busca
  
<!----------------->
<!--! Textarea  -->
<!----------------->

form.form.giant
  textarea.form-control.normal

<!---------------------->
<!--! Select normal  -->
<!---------------------->

select.selectpicker.btn.azul.normal.text-left.text-transform
  optgroup(label="picnic")
    option.unread Esto es una opción
    option.read Esto es una opción
    
  
<!--------------------------------->
<!--! Select de notificaciones  -->
<!--------------------------------->

select.selectpicker.btn.azul.normal.text-left.text-transform.notification
  optgroup(label="picnic")
    option.unread Esto es una opción
    option.read Esto es una opción
  
<!------------------------------>
<!--! Check y radio buttons  -->
<!------------------------------>

.form-group.rojo.normal.task
  input.check.rojo#uno(type="checkbox",value="yes",name="uno",data-label="Right positioned label (no param)")

.form-group.rojo.normal
  input.check(type="radio",value="yes",name="answer",data-label="Este es el label")
  
  // Otra tarea con otro formato (pequeña)
  
.form-group.claro.small.task
  input.check.gris#uno(type="checkbox",value="yes",name="uno",data-label="Esto es una tarea")
  
<!------------------->
<!--! Datepicker  -->
<!------------------->

form.normal
  input.form-control.normal.datepicker(type="text",value="02-16-2012")
  
<!------------------------------>
<!--! Votar estrellas stars  -->
<!------------------------------>

.votacion.no-votado
  i.icon-star.active
  i.icon-star.active
  i.icon-star
  i.icon-star
  i.icon-star

<!---------------->
<!--! Botones  -->
<!---------------->

.btn.amarillo.giant.embossed.change-text
  i.icon-user
  | Sign in
.btn.amarillo.big.embossed
  i.icon-user
  | Sign in
.btn.amarillo.normal.embossed
  i.icon-user
  | Sign in
.btn.azul.small.embossed.change-text
  i.icon-user
  | Sign in
.btn.amarillo.tiny.embossed.change-text
  i.icon-user
  | Sign in
.btn.btn-block.claro.small.embossed.change-text
  i.icon-user
  | Sign in

<!----------------->
<!--! Un modal  -->
<!----------------->

a.btn.azul.giant(href="#modal",data-toggle="modal") Lanza un modal

.modal.fade#modal(tabindex="-1",role="dialog",aria-labelledby="modalLabel",aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header
        i.icon-remove.close(data-dismiss="modal",aria-hidden="true")
      .modal-body
        h1 ¿Estás seguro de que quieres continuar?
        br
        .btn.amarillo.giant.embossed Estoy seguro
        
<!------------------------------------------->
<!--! Columna derecha de layout 2 columnas  -->
<!------------------------------------------->

section
  header
    h2.font.oscuro Mensajes
  ul
    li
      a(href="")
        .content
          .img.avatar.circle(style="background-image:url('/images/joinity-temp/background.jpg');")
          .data
            h4.verde Antoni Espinosa
            p 27 de mayo, 2013
            p.sub ¿Hola qué tal estás?
    li.active
      .content
        .img.avatar.circle(style="background-image:url('/images/joinity-temp/background.jpg');")
        .data
          h4.verde Antoni Espinosa
          p 27 de mayo, 2013
          p.sub ¿Hola qué tal estás?
          
<!--------------------------------->
<!--! ESTO ES UN JOINITY THUMB  -->
<!--------------------------------->

.joinity-thumb.verde
  .front
    p.claro.small.text-transform Nos vamos de viaje al país vasco
    p.claro.sub En la Rioja, por 35€
  .back
    .fecha
      p.claro 25
      h5.claro jun
    .donut
      .rueda.img-circle
        .donutchart(data-percent="46")
        .numjoiner
      .datos
        p.claro 46/100
        h6.claro joiners
    .votacion
      i.icon-star.active
      i.icon-star.active
      i.icon-star
      i.icon-star
      i.icon-star
  .img.cover.display-block(style="background-image:url('/images/joinity-temp/avatar.jpeg')")

<!---------------------------->
<!--! ANIMACIÓN EN PASOS  -->
<!---------------------------->

// Importante: definir el height en estilo inline

.pasos(style="height:200px;")
  ul
    li.activo
      h1.oscuro Pregunta del paso 1
      p Contenido del paso
      .btn.amarillo.big.play Botón para pasar
      .btn.rojo.big.rewind Botón para volver
    li
      h1.oscuro Pregunta del paso 2
      p Contenido del segundo paso
      .btn.amarillo.big.play Botón para pasar
      .btn.rojo.big.rewind Botón para volver
    li
      h1.oscuro Paso 3
      p Contenido
      .btn.amarillo.big.play Botón para pasar
      .btn.rojo.big.rewind Botón para volver
      
<!------------->
<!--! TABS  -->
<!------------->

ul.nav.nav-tabs#search-result
  li.active
    a(href="#users" data-toggle="tab").btn.normal.transparente.text-transform Users
  li
    a(href="#joinities" data-toggle="tab").btn.normal.transparente.text-transform Joinities
  li
    a(href="#places" data-toggle="tab").btn.normal.transparente.text-transform Places
  li
    a(href="#hobbies" data-toggle="tab").btn.normal.transparente.text-transform Hobbies

.tab-content
  .tab-pane.active#users
    p.claro Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Curabitur blandit tempus porttitor.
  .tab-pane#joinities
    p.claro Joinities
  .tab-pane#places
    p.claro Places
  .tab-pane#hobbies
    p.claro Hobbies

<!--------------->
<!--! LISTAS  -->
<!--------------->

ul.list
  li
    .img.tiny(style="background-image:url('/images/joinity-temp/familyandfriends.png');")
    p.sub.gris Borja de Gregorio
    .btn.tiny.amarillo Pendiente
  // Este último li es para el clear both
  li.fin