.modal-header {
  min-height:58px;
  .close {
    color:@claro;
    .opacity(1);
    .border-radius(30px);
    border:3px solid @claro;
    width:42px;
    height:42px;
    text-align:center;
    font-size:18.4px;
    font-weight:lighter;
    padding-top:8px;
    z-index:4000;
    &:hover {
      color:@amarillo;
      border-color:@amarillo;
    }
    &:active {
      color:darken(@verde,10%);
      border-color:darken(@verde,10%);
    }
  }
}
.modal-body {
  .lonely {
    margin-top:40px;
  }
  form {
    label {
      color:@claro!important;
    }
    label {
      font-family: proxima;
      font-size: 23px!important;
      font-style: inherit;
      font-weight: bold;
      line-height: 1.3;
    }
    .big.framed {
      border-width:5px!important;
      background-color:#41e4c4;
      .placeholder(@verde);
      font-size:17px;
      color:@oscuro!important;
      border:none!important;
      &:focus {
        border:none!important;
      }
    }
    .btn.verde {
      background-color:darken(@verde,5%);
    }
    .fileupload-preview {
      color:@claro!important;
    }
  }
  .stars {
    float:left;
    display:inline-block;
    i {
      margin-right:2px;
      color:@amarillo-claro;
      display:inline;
    }
  }
  label.normal {
    font-weight: normal;
    font-size: 19px!important;
  }
  .form-number {
    width: 100px;
    float:left;
    font-weight:bold;
  }
  .number-form {
    color: @claro;
    font-size: 30px;
    display: inline-block;
    margin-top: 20px;
    margin-left: 14px;
    &.float-right {
      font-size: 30px;
      margin-top: -2px;
      color: @amarillo;
      border-bottom: 1px dashed @amarillo;
    }
  }
  .help-block {
    margin-top:-4px;
    margin-left:8px;
    color:@verde-oscuro!important;
    font-family:proxima;
  }
  .list {
    li:hover {
      background-color:rgba(255,255,255,.2);
      cursor:pointer;
      .assigned:before {
        content:"Remove?"!important;
        position: absolute;
        width:100%;
        background-color:rgba(0,0,0,.5);
        color:@amarillo;
        left:0;
        top:0;
        height:100%;
        .border-radius(5px);
        padding-top:12px;
      }
      .assign {
        .opacity(1);
      }
    }
    .assign {
      .opacity(0);
      .transition(opacity .2s);
    }
    p.claro {
      span {
        font-size:12px;
      }
    }
  }
}