form.giant
  .form-group.form-user
    .img.avatar.cover(style="background-image:url('/images/joinity-temp/avatar.jpeg')")
    input.form-control.big.framed(placeholder="Cuéntale algo al grupo")
    .button-group
      .btn.small.azul.text-transform Enviar
      .btn.small.azul
        i.icon-camera.icon-large

.timeline
  .line
  .item.message
    .item-data
      .btn.azul.big.btn-block
        i.icon-comment.icon-large
      .btn.gris.tiny.btn-block 12 JUN
    .item-content
      .credits
        .img.avatar.tiny(style="background-image:url('/images/joinity-temp/avatar.jpeg')")
        h6.grisclaro
          a Fernando Guirao
          | ha dicho
        p Acabo de reservar una mesa en la Parmigiana
        .btn.grisclaro.normal.text-change Responder
        
  .item.picture
    .item-data
      .btn.verde.big.btn-block
        i.icon-camera.icon-large
      .btn.gris.tiny.btn-block 12 JUN
    .item-content
      .credits
        .img.avatar.tiny(style="background-image:url('/images/joinity-temp/avatar.jpeg')")
        h6.grisclaro
          a Fernando Guirao
          | ha dicho
        .img.display-block.big(style="background-image:url('/images/joinity-temp/avatar.jpeg')")
        .btn.grisclaro.normal.text-change Responder
        
  .item.movie
    .item-data
      .btn.rojo.big.btn-block
        i.icon-film.icon-large
      .btn.gris.tiny.btn-block 12 JUN
    .item-content
      .credits
        .img.avatar.tiny(style="background-image:url('/images/joinity-temp/avatar.jpeg')")
        h6.grisclaro
          a Fernando Guirao
          | ha dicho
        .img.display-block.big(style="background-image:url('/images/joinity-temp/avatar.jpeg')")
        .btn.grisclaro.normal.text-change Responder
  
  .item.poll