section.reservations.layout-event
  header.payment
    h4.oscuro 
      span En
      | Nombre del joinity o grupo
    h3.verde Nombre del producto tan extenso como sea preciso
    p.gris.small
      | Pago asignado el 27.05.2013
  .content
    table.table.table-striped.oscuro
      thead
        tr
          th iPad2 54GB resolución HD 24GHZ
          th 
            a.btn.tiny.amarillo(href="") Cancelar pago
      tbody
        tr
          td Subtotal
          td 6,95€
        tr
          td Cuota IVA
          td 1,46€
      tfoot
        tr
          td Total
          td 8,41€
    br
    p.font.small Antes de continuar, por favor lee y acepta nuestros contratos de servicios y de registro de dominios
    a.contrato(href="") Contrato bla bla bla bla bla
    br
    .form-group.grisclaro.normal
      input.check.grisclaro#uno(type="checkbox",value="yes",name="uno",data-label="Acepto y he leído los términos de los contratos")
  
  .btn.naranja.big.embossed.text-transform.btn-block
    i.icon-shopping-cart.icon-large
    | Realiza este pago ahora
  p.font.small.gris.nota *Serás redirigido a Paypal