.banner.cover.text-center(style="background-image:url('/images/joinity-temp/escocia.png')")
    
  .main-data
    h1.claro Una escapada a escocia
    ul
      li
        h6.claro Dentro de
          b.number-right 45
          | Días
      li
        h6.claro En Escocia, Reino Unido
      li
        h6.claro Con
          b.number-right 16
          | personas más
      li
        h6.claro Por
          b.number-right 25
          | euros
    .btn.azul.normal.alargado.embossed.modal-invite Suena bien. Quiero verlo.