.home-column
  //- SECCIÓN AFICIONES
  section.faficiones
    header.lined
      .btn.tiny.azul
        i.icon-joinity 7
      h3.font.oscuro Aficiones
      a.inactive.compracat
        .btn.tiny.grisclaro
          i.icon-joinity 3
        h3.font.grisclaro Compras
      a.inactive.famcat
        .btn.tiny.grisclaro
          i.icon-joinity 5
        h3.font.grisclaro Family & friends
      .float-right
        a.azul.preloader
          i.icon-time
          h5.oscuro Más recientes
        a.azul.preloader
          i.icon-map-marker
          h5.oscuro Cerca
        a.azul.preloader
          i.icon-rocket
          h5.oscuro Para mí
    .contenido.centrador
      //- CADA JOINITY
      a.joinity-thumb.azul.modal-invite
        .front
          p.claro.small.text-transform Nos vamos de viaje al país vasco
          p.claro.sub En la Rioja, por 35€
        .back
          .fecha
            p.claro 25
            h5.claro jun
          .donut
            .rueda.img-circle
              .donutchart(data-percent="46")
              .numjoiner
            .datos
              p.claro 46/100
              h6.claro joiners
          .votacion
            i.icon-star.active
            i.icon-star.active
            i.icon-star
            i.icon-star
            i.icon-star
        .img.cover.display-block(style="background-image:url('/images/joinity-temp/avatar.jpeg')")
      //- FIN DE CADA JOINITY
    .centrador.ver-mas
      .btn.amarillo.text-transform.normal.centered.preloader Quiero ver más

  //- SECCIÓN COMPRAS
  section.fcompras
    header.lined
      .btn.tiny.rojo
        i.icon-joinity 3
      h3.font.oscuro Compras
      a.inactive.aficat
        .btn.tiny.grisclaro
          i.icon-joinity 7
        h3.font.grisclaro Aficiones
      a.inactive.famcat
        .btn.tiny.grisclaro
          i.icon-joinity 5
        h3.font.grisclaro Family & friends
      .float-right
        a.rojo.preloader
          i.icon-time
          h5.oscuro Más recientes
        a.rojo.preloader
          i.icon-map-marker
          h5.oscuro Ofertas
        a.rojo.preloader
          i.icon-rocket
          h5.oscuro Para mí
    .contenido.centrador
      //- CADA JOINITY
      a.joinity-thumb.rojo.modal-invite
        .front
          p.claro.small.text-transform Nos vamos de viaje al país vasco
          p.claro.sub En la Rioja, por 35€
        .back
          .fecha
            p.claro 25
            h5.claro jun
          .donut
            .rueda.img-circle
              .donutchart(data-percent="46")
              .numjoiner
            .datos
              p.claro 46/100
              h6.claro joiners
          .votacion
            i.icon-star.active
            i.icon-star.active
            i.icon-star
            i.icon-star
            i.icon-star
        .img.cover.display-block(style="background-image:url('/images/joinity-temp/avatar.jpeg')")
      //- FIN DE CADA JOINITY
    .centrador.ver-mas
      .btn.amarillo.text-transform.normal.centered.preloader Quiero ver más
      
  //- SECCIÓN FAMILY AND FRIENDS
  section.fandfriends
    header.lined
      .btn.tiny.verde
        i.icon-joinity 5
      h3.font.oscuro Family & friends
      a.inactive.aficat
        .btn.tiny.grisclaro
          i.icon-joinity 7
        h3.font.grisclaro Aficiones
      a.inactive.compracat
        .btn.tiny.grisclaro
          i.icon-joinity 3
        h3.font.grisclaro Compras
    .contenido.centrador
      //- CADA JOINITY
      a.btn.verde.giant.embossed.text-transform.modal-invite Crea un joinity de este tipo ahora
        p.small.oscuro Y organiza un plan con tu familia o tus amigos
      br
      br
      br