.inside
  a.btn.btn-block.gris.tiny.text-transform.btn-icon(href="/brands/brandName")
    i.icon-camera
    | Apple Inc
    
  // BOTONES
  h6.gris.lined Realiza una prueba
  .btn.btn-block.gris.tiny.text-transform.btn-icon
    i.icon-camera
    | Busca un producto
  .btn.btn-block.gris.tiny.text-transform.btn-icon
    i.icon-camera
    | Reserva mesa
  
  // EVENTOS
  h6.gris.lined Eventos
  .btn.tiny.azul.embossed.text-transform Crea un evento
  .evento-mini
    .fecha 30
      span jun
    .descripcion
      p.gris Lectura de poemas en el café de las letras con mis amigos
    .joiners
      p.gris Con
      .group
        .img.avatar.tiny(style="background-image:url('/images/joinity-temp/usuario.png');")
        .img.avatar.tiny(style="background-image:url('/images/joinity-temp/aficiones.png');")
        .img.avatar.tiny(style="background-image:url('/images/joinity-temp/familyandfriends.png');")
      p.gris y 30 más
    .btn.gris.btn-icon.tiny.text-transform
      i.icon-calendar
      | ¡Me apunto!

  // TAREAS
  h6.gris.lined Tareas
  .btn.tiny.azul.embossed.text-transform Crea una tarea
  .tareas
    .form-group.claro.small.task
      input.check.gris#uno(type="checkbox",value="yes",name="uno",data-label="Right positioned label (no param)")
    .form-group.claro.small.task
      input.check.gris#uno(type="checkbox",value="yes",name="uno",data-label="Right positioned label (no param)")