.banner.cover.text-center(style="background-image:url('/images/joinity-temp/background.jpg')")
  .top-data
    .votacion.no-votado
      i.icon-star.active
      i.icon-star.active
      i.icon-star
      i.icon-star
      i.icon-star
    
  .main-data
    .img.avatar.big(style="background-image:url('/images/joinity-temp/background.jpg')")
    h1.claro Fernando Guirao
    .btn.azul.normal.more-info Más información
    
  .bottom-data
    .visible-data
      ul
        li.no-number
          h6.claro En Valencia
        li
          h6.claro
            b 270
            | contactos
        li
          h6.claro
            b 14
            | joinities
        li
          h6.claro
            b 16
            | aficiones
    .hidden-data
      ul
        li
          .field
            h5.claro Administrador
            h5.azul Borja de Gregorio
          .field
            h5.claro Fecha de creación
            h5.azul 27.05.2013
        li
          .field
            h5.claro Requisitos
            h5.azul Sin requisitos
        li
          .field
            h5.claro ¿Se repite?
            h5.azul Semanalmente
          .field
            h5.claro Nivel necesario
            h5.azul Sin nivel
        li
          .field
            h5.claro Descripción
            h5.azul Lorem ipsum dolor sit amet consqequetur adis cipit erat
            