.inside
  
  // BOTONES
  .btn.btn-block.gris.tiny.text-transform.btn-icon
    i.icon-male
    | Datos personales
  .btn.btn-block.gris.tiny.text-transform.btn-icon
    i.icon-group
    | Contactos
  .btn.btn-block.gris.tiny.text-transform.btn-icon
    i.icon-heart
    | Aficiones
  .btn.tiny.azul.embossed.text-transform Envíale un mensaje