extends ../../../../layouts/layout-1-column

block singleColumn
  .single-column.edit-page
    .pasos(style="height:800px;")
      ul
        li.activo
          include paso01
        li
          include paso02