h2.font.lined.oscuroclaro Acerca del restaurante
p.oscuroclaro ** Ships in a Polybag **Experience Monster's legendary sound performance with a revolutionary pair of headphones that you customize to suit your style. Crystal-clear highs, powerful-deep bass, and an incredibly detailed midrange brings your entire music library to life with impressive realism and without distortion. A full line of interchangeable headbands lets you express your individuality in ways you've never imagined. It's Serious Audio in High Style.** Ships in a Polybag **
br
h2.font.lined.oscuroclaro Menú
p.oscuroclaro Over-Ear, Noise Isolating - Black
  | Personalize your look through interchangeable headbands
  | Passive noise Isolation
  | Super-comfortable ear cushions for long trips
  | Includes a ControlTalk cable for controlling music and phone calls from iPad®, iPhone® and iPod®
  | Includes bonus matching color Raptor headband
  | Includes a ControlTalk Universal cable for controlling Androids, tablets and other devices
  | Also includes a straight mini-to-mini cable for airplane listening
  | Fully compatible with Skype™
br
h2.font.lined.oscuroclaro Horario
p.oscuroclaro Over-Ear, Noise Isolating - Black
  | Personalize your look through interchangeable headbands
  | Passive noise Isolation
  | Super-comfortable ear cushions for long trips
  | Includes a ControlTalk cable for controlling music and phone calls from iPad®, iPhone® and iPod®
  | Includes bonus matching color Raptor headband
  | Includes a ControlTalk Universal cable for controlling Androids, tablets and other devices
  | Also includes a straight mini-to-mini cable for airplane listening
  | Fully compatible with Skype™