.inside.navRight
  a.c0.btn.btn-block.claro.tiny.text-transform.btn-icon()
    i.icon-info
    | El restaurante
  a.c1.btn.btn-block.claro.tiny.text-transform.btn-icon()
    i.icon-truck
    | Menú
  a.c2.btn.btn-block.claro.tiny.text-transform.btn-icon()
    i.icon-legal
    | Horario
  a.btn.btn-block.claro.tiny.text-transform.btn-icon()
    i.icon-heart
    | Comparte este restaurante
  a.btn.btn-block.claro.tiny.text-transform.btn-icon(href="/brands/brandName")
    i.icon-circle
    | NH Hoteles en Joinity