.my-joinities

  h1.font.azul Mis joinities
  h3.font.oscuro Grupos en los que participo
  
  section
    header.lined
      .btn.tiny.azul
        i.icon-joinity 7
      h3.font.oscuro Aficiones
      .float-right
        a.azul(href="")
          i.icon-time
          h5.oscuro Más recientes
        a.azul(href="")
          i.icon-star
          h5.oscuro Cerca de mí
        a.azul(href="")
          i.icon-sort-by-alphabet
          h5.oscuro Nombre
    .contenido
      //- ESTO ES UN JOINITY
      .joinity-thumb.azul
        .front
          p.claro.small.text-transform Nos vamos de viaje al país vasco
          p.claro.sub En la Rioja, por 35€
        .back
          .fecha
            p.claro 25
            h5.claro jun
          .donut
            .rueda.img-circle
              .donutchart(data-percent="46")
              .numjoiner
            .datos
              p.claro 46/100
              h6.claro joiners
          .votacion
            i.icon-star.active
            i.icon-star.active
            i.icon-star
            i.icon-star
            i.icon-star
        .img.cover.display-block(style="background-image:url('/static/images/joinity-temp/avatar.jpeg')")
      //- ESTO ES UN JOINITY
      .joinity-thumb.azul
        .front
          p.claro.small.text-transform Nos vamos de viaje al país vasco
          p.claro.sub En la Rioja, por 35€
        .back
          .fecha
            p.claro 25
            h5.claro jun
          .donut
            .rueda.img-circle
              .donutchart(data-percent="46")
              .numjoiner
            .datos
              p.claro 46/100
              h6.claro joiners
          .votacion
            i.icon-star.active
            i.icon-star.active
            i.icon-star
            i.icon-star
            i.icon-star
        .img.cover.display-block(style="background-image:url('/static/images/joinity-temp/avatar.jpeg')")
      //- ESTO ES UN JOINITY
      .joinity-thumb.azul
        .front
          p.claro.small.text-transform Nos vamos de viaje al país vasco
          p.claro.sub En la Rioja, por 35€
        .back
          .fecha
            p.claro 25
            h5.claro jun
          .donut
            .rueda.img-circle
              .donutchart(data-percent="46")
              .numjoiner
            .datos
              p.claro 46/100
              h6.claro joiners
          .votacion
            i.icon-star.active
            i.icon-star.active
            i.icon-star
            i.icon-star
            i.icon-star
        .img.cover.display-block(style="background-image:url('/static/images/joinity-temp/avatar.jpeg')")
      //- ESTO ES UN JOINITY
      .joinity-thumb.azul
        .front
          p.claro.small.text-transform Nos vamos de viaje al país vasco
          p.claro.sub En la Rioja, por 35€
        .back
          .fecha
            p.claro 25
            h5.claro jun
          .donut
            .rueda.img-circle
              .donutchart(data-percent="46")
              .numjoiner
            .datos
              p.claro 46/100
              h6.claro joiners
          .votacion
            i.icon-star.active
            i.icon-star.active
            i.icon-star
            i.icon-star
            i.icon-star
        .img.cover.display-block(style="background-image:url('/static/images/joinity-temp/avatar.jpeg')")
      //- ESTO ES UN JOINITY
      .joinity-thumb.azul
        .front
          p.claro.small.text-transform Nos vamos de viaje al país vasco
          p.claro.sub En la Rioja, por 35€
        .back
          .fecha
            p.claro 25
            h5.claro jun
          .donut
            .rueda.img-circle
              .donutchart(data-percent="46")
              .numjoiner
            .datos
              p.claro 46/100
              h6.claro joiners
          .votacion
            i.icon-star.active
            i.icon-star.active
            i.icon-star
            i.icon-star
            i.icon-star
        .img.cover.display-block(style="background-image:url('/static/images/joinity-temp/avatar.jpeg')")
    
