.home-column
  section
    header.lined
      .btn.tiny.azul
        i.icon-joinity 7
      h3.font.oscuro Aficiones
      a.inactive(href="")
        .btn.tiny.grisclaro
          i.icon-joinity 3
        h3.font.grisclaro Compras
      .float-right
        a.azul.preloader
          i.icon-time
          h5.oscuro Más recientes
        a.azul.preloader
          i.icon-map-marker
          h5.oscuro Cerca
        a.azul.preloader
          i.icon-rocket
          h5.oscuro Para mí
    .contenido.centrador
      //- ESTO ES UN JOINITY
      a.joinity-thumb.azul(href="/joinities/hobbies/joinityName")
        .front
          p.claro.small.text-transform Nos vamos de viaje al país vasco
          p.claro.sub En la Rioja, por 35€
        .back
          .fecha
            p.claro 25
            h5.claro jun
          .donut
            .rueda.img-circle
              .donutchart(data-percent="46")
              .numjoiner
            .datos
              p.claro 46/100
              h6.claro joiners
          .votacion
            i.icon-star.active
            i.icon-star.active
            i.icon-star
            i.icon-star
            i.icon-star
        .img.cover.display-block(style="background-image:url('/images/joinity-temp/avatar.jpeg')")
      //- ESTO ES UN JOINITY
      a.joinity-thumb.azul(href="/joinities/hobbies/joinityName")
        .front
          p.claro.small.text-transform Nos vamos de viaje al país vasco
          p.claro.sub En la Rioja, por 35€
        .back
          .fecha
            p.claro 25
            h5.claro jun
          .donut
            .rueda.img-circle
              .donutchart(data-percent="46")
              .numjoiner
            .datos
              p.claro 46/100
              h6.claro joiners
          .votacion
            i.icon-star.active
            i.icon-star.active
            i.icon-star
            i.icon-star
            i.icon-star
        .img.cover.display-block(style="background-image:url('/images/joinity-temp/avatar.jpeg')")
      //- ESTO ES UN JOINITY
      a.joinity-thumb.azul(href="/joinities/hobbies/joinityName")
        .front
          p.claro.small.text-transform Nos vamos de viaje al país vasco
          p.claro.sub En la Rioja, por 35€
        .back
          .fecha
            p.claro 25
            h5.claro jun
          .donut
            .rueda.img-circle
              .donutchart(data-percent="46")
              .numjoiner
            .datos
              p.claro 46/100
              h6.claro joiners
          .votacion
            i.icon-star.active
            i.icon-star.active
            i.icon-star
            i.icon-star
            i.icon-star
        .img.cover.display-block(style="background-image:url('/images/joinity-temp/avatar.jpeg')")
      //- ESTO ES UN JOINITY
      a.joinity-thumb.azul(href="/joinities/hobbies/joinityName")
        .front
          p.claro.small.text-transform Nos vamos de viaje al país vasco
          p.claro.sub En la Rioja, por 35€
        .back
          .fecha
            p.claro 25
            h5.claro jun
          .donut
            .rueda.img-circle
              .donutchart(data-percent="46")
              .numjoiner
            .datos
              p.claro 46/100
              h6.claro joiners
          .votacion
            i.icon-star.active
            i.icon-star.active
            i.icon-star
            i.icon-star
            i.icon-star
        .img.cover.display-block(style="background-image:url('/images/joinity-temp/avatar.jpeg')")
      //- ESTO ES UN JOINITY
      a.joinity-thumb.azul(href="/joinities/hobbies/joinityName")
        .front
          p.claro.small.text-transform Nos vamos de viaje al país vasco
          p.claro.sub En la Rioja, por 35€
        .back
          .fecha
            p.claro 25
            h5.claro jun
          .donut
            .rueda.img-circle
              .donutchart(data-percent="46")
              .numjoiner
            .datos
              p.claro 46/100
              h6.claro joiners
          .votacion
            i.icon-star.active
            i.icon-star.active
            i.icon-star
            i.icon-star
            i.icon-star
        .img.cover.display-block(style="background-image:url('/images/joinity-temp/avatar.jpeg')")
    
    .centrador
      .btn.amarillo.text-transform.normal.centered.preloader Quiero ver más
    
