section
  header
    h2.font.oscuro Mis reservas
  ul
    li
      a(href="")
        .content
          .img.avatar.circle(style="background-image:url('/images/joinity-temp/usuario.png');")
          .data
            h4.verde
              span En
              | Venta del Puerto
            p 27 de mayo, 2013
            p.sub Tres personas
    li.active
      .content
        .img.avatar.circle(style="background-image:url('/images/joinity-temp/aficiones.png');")
        .data
          h4.verde
              span En
              | Hotel NH
            p 27 de mayo, 2013
            p.sub Tres personas