/*

DOCUMENTACIÓN

Select de notificaciones - > .notification

Checkboxes y radios

El mixin es: .make-checkbox(@size,@color,@color-checked,@color-disabled,@color-label)
Si queremos que sea una tarea (con estado disabled al hacer check tenemos que meter en un .task el .form-group

*/

/* FORMULARIOS EN GENERAL */

.form {
  &.giant {
    .make-md-column(12);
    &.textarea {
      min-height:200px;
    }
  }
  &.big {
    .make-md-column(10);
    &.textarea {
      min-height:150px;
    }
  }
  &.normal {
    .make-md-column(7);
    &.textarea {
      min-height:100px;
    }
  }
  &.small {
    .make-md-column(5);
    &.textarea {
      min-height:50px;
    }
  }
  &.tiny {
    .make-md-column(3);
    &.textarea {
      min-height:20px;
    }
  }
}

/* SELECTS Y DROPDOWNS */

.dropdown-menu {
  color:@oscuro;
  text-transform: none;
}

.notification .dropdown-menu {
  width:400px;
  dt {
    text-transform:uppercase;
    color:@elcolor;
    padding:10px;
  }
  text-align:left;
  .unread {
    background-color:@elcolor;
    color:@claro;
    &:hover {
      background-color:@elcolor!important;
      color:@claro!important;
      &:after {
        color:@claro!important;
      }
    }
  }
  .read {
    color:@grisclaro;
  }
  a.opt {
    padding-left:21px!important;
    white-space:normal;
    font-size: 13px;
    font-weight: normal;
    line-height: 20px;
    padding-top: 7px;
    padding-bottom: 9px;
    padding-right:40px;
    position:relative;
    .transition(padding .2s);
    &:after {
      content: "\f054";
      font-family:'fontAwesome';
      right:24px;
      color:rgba(0,0,0,.2);
      position:absolute;
      top:10px;
      .transition(right .2s)
    }
    &:hover {
      background-color:rgba(0,0,0,.05);
      padding-left:40px!important;
      padding-right:10px;
      color:@gris;
      &:after {
        right:35px;
        color:@gris;
      }
    }
  }
}

/* INPUTS */

.form-control {
  &.giant {
    .input-size(84px; 30px; 30px; 22px; 40px; 7px);
    margin: 10px 0;
    &.framed {
      border-width:10px;
      .box-shadow(rgba(0, 0, 0, 0.14902) 0px 0px 0px 3px);
    }
  }
  &.big {
    .input-size(60px; 20px; 20px; 14px; 29px; 5px);
    margin:10px 0;
    &.framed {
      border-width:4px;
    }
  }
  &.normal {
    .input-size(40px; 14px; 14px; 13px; 20px; 4px);
    margin:10px 0;
    &.framed {
      border-width:3px;
    }
  }
  &.small {
    .input-size(30px; 15px; 15px; 12px; 16px; 4px);
    margin:10px 0;
    &.framed {
      border-width:3px;
    }
  }
  &.tiny {
    .input-size(20px; 10px; 10px; 11px; 15px; 2px);
    margin:10px 0;
    &.framed {
      border-width:2px;
    }
  }
  &.framed {
    border:10px solid @elcolor;
    &:focus {
      border-color:lighten(@elcolor,7%);
      .box-shadow(transparent 0px 0px 0px 0px);
    }
  }
}

/* Grupos formados por un input y otros elementos */

.form-group {
  &.form-user {
    .img {
      position:absolute;
      margin-top:10px;
      margin-left:10px;
    }
    .form-control {
      padding-left:57px;
    }
    .button-group {
      position: absolute;
      margin-top: -63px;
      right: 24px;
    }
  }
}

/* CHECKBOXES Y RADIOS */

label {
  color:@oscuro;
  font-weight:normal;
}

.giant {
  .make-checkbox(55px,@azul,@claro,@grisclaro,@oscuro,1.6%,2.3%);
  .make-radio(55px,@azul,@claro,@grisclaro,@oscuro,1.5%,2.5%);
}

.big {
  .make-checkbox(30px,@rojo,@claro,@grisclaro,@oscuro,0.8%,1.2%);
  .make-radio(30px,@rojo,@claro,@grisclaro,@oscuro,0.8%,1.5%);
}

.normal {
  .make-checkbox(20px,@rojo,@claro,@grisclaro,@oscuro,0.8%,0.8%);
  .make-radio(20px,@rojo,@claro,@grisclaro,@oscuro,0.7%,1%);
}

.small {
  .make-checkbox(18px,@rojo,@claro,@grisclaro,@oscuro,0.8%,0.8%);
  .make-radio(18px,@rojo,@claro,@grisclaro,@oscuro,0.6%,0.9%);
}

/* DATE PICKER */

.datepicker {
  .box-shadow(none);
  thead {
    background-color: @azul;
    position: absolute;
    left: 0;
    width: 100%;
    padding-left: 21px;
    top: 0;
    padding-top: 2px;
    padding-bottom: 3px;
    color:@claro;
    th.datepicker-switch {
      font-size:15px;
      font-weight:normal;
      color:@claro;
      font-family:'Proxima';
      font-weight:lighter;
      span {
        font-weight:bolder;
        margin-right:4px;
        color:darken(@azul,25%);
      }
    }
    th:hover {
      background-color:darken(@azul,5%)!important;
    }
    tr:nth-child(2) {
      background-color:@grisclaro!important;
      color:@oscuro;
      position: absolute;
      left: 0;
      width: 100%;
      padding-left: 20px;
      font-size: 12.5px;
      font-weight: 100;
      top:36px;
      th:hover {
        background-color:transparent!important;
      }
    }
  }
  tbody {
    margin-top: 66px!important;
    display: inline-block;
    margin-bottom:5px;
  }
  .datepicker-months tbody,.datepicker-years tbody {
    width:200px!important;
    display:block!important;
    position:relative!important;
    margin-top:30px!important;
    padding-left:15px;
    margin-bottom:0px;
    tr {
      td {
        width:100%;
        span {
          display:inline;
          position:relative;
          width:50px;
          float:left;
          
        }
      }
    }
  }
}

/* PUNTUAR */

.votacion {
  .icon-star {
    color:rgba(0,0,0,.3);
    margin-right:3px;
    font-size:16px;
    &.active {
      color:@claro;
    }
  }
  &.no-votado {
    .icon-star {
      cursor:pointer;
      &:hover {
        color:@claro;
      }
    }
  }
}
