.banner.cover.text-center.all-category(style="background-image:url('/static/images/joinity-temp/beijing.png')")
    
  .main-data
    h3 La vida es demasiado breve
    h1.claro Vive nuevas 
      span.amarillo experiencias
    .btn.amarillo.normal Mis aficiones
    
  .bottom-data
    .visible-data
      ul
        li.no-number
          i.icon-trophy.icon-big
          h6.claro Deportes
        li.no-number
          i.icon-mobile-phone.icon-big
          h6.claro Tecnología
        li.no-number.activo
          i.icon-gamepad.icon-big
          h6.claro Videogames
        li.no-number
          i.icon-plane.icon-big
          h6.claro Viajes
        li.no-number
          i.icon-leaf.icon-big
          h6.claro Naturaleza
        li.no-number.more-info
          i.icon-plus-sign.icon-big
          h6.claro Más
    .hidden-data
      .clear-both
      ul
        li.no-number
          i.icon-trophy.icon-big
          h6.claro Deportes
        li.no-number
          i.icon-mobile-phone.icon-big
          h6.claro Tecnología
        li.no-number
          i.icon-gamepad.icon-big
          h6.claro Videogames
        li.no-number
          i.icon-plane.icon-big
          h6.claro Viajes
        li.no-number
          i.icon-leaf.icon-big
          h6.claro Naturaleza
        li.no-number
          i.icon-plane.icon-big
          h6.claro Viajes
