.home-column
  //- SECCIÓN
  section.two-subcolumns
    header.lined.nolined
      h3.font.oscuro 4 resultados en
        span deportes
    .contenido.centrador
      //- CADA BLOG
      a.joinity-thumb.azul(href="/joinities/hobbies/hobbyName")
        .front
          p.gris.small.text-transform MMORPG
        .back
          .donut
            .datos
              p.claro Ver afición
        .img.cover.display-block(style="background-image:url('/static/images/joinity-temp/avatar.jpeg')")
        
  section.two-subcolumns
    header.lined
      .btn.tiny.azul
        i.icon-trophy.icon-big
      h3.font.oscuro Aficiones populares
    .contenido.centrador
      //- CADA BLOG
      a.joinity-thumb.azul(href="/joinities/hobbies/hobbyName")
        .front
          p.gris.small.text-transform kytesurf
        .back
          .donut
            .datos
              p.claro Ver afición
        .img.cover.display-block(style="background-image:url('/static/images/joinity-temp/avatar.jpeg')")
        
  section.two-subcolumns
    header.lined
      .btn.tiny.azul
        i.icon-home.icon-big
      h3.font.oscuro Aficiones en mi zona
    .contenido.centrador
      //- CADA BLOG
      a.joinity-thumb.azul(href="/joinities/hobbies/hobbyName")
        .front
          p.gris.small.text-transform Ajedrez
        .back
          .donut
            .datos
              p.claro Ver afición
        .img.cover.display-block(style="background-image:url('/static/images/joinity-temp/avatar.jpeg')")