section.messages
  header
    h4.amarillo Conversación con
    h1.font.oscuro Antoni Espinosa
  .content
    form.giant
      .form-group.form-user
        .img.avatar.cover(style="background-image:url('/images/joinity-temp/usuario.png')")
        input.form-control.big.framed(placeholder="Escríbele algo a tu amigo")
        .button-group
          .btn.small.azul.text-transform Enviar
    ul
      li.me
        p.small.grisclaro 25 de diciembre, 2013. 12:32 PM
        .bubble
          p.normal.oscuro Este es el mensaje lorem ipsum dolor sit amet el mensaje lorem ipsum dolor sit amet
          .img.tiny(style="background-image:url('/images/joinity-temp/usuario.png');")
      li.not-me
        p.small.grisclaro 25 de diciembre, 2013. 12:32 PM
        .bubble
          p.normal.oscuro Este es el mensaje el mensaje lorem ipsum dolor sit amet el mensaje lorem ipsum dolor sit amet el mensaje lorem ipsum dolor sit amet el mensaje lorem ipsum dolor sit amet el mensaje lorem ipsum dolor sit amet
          .img.tiny(style="background-image:url('/images/joinity-temp/aficiones.png');")
      li.me
        p.small.grisclaro 25 de diciembre, 2013. 12:32 PM
        .bubble
          p.normal.oscuro Este es el mensaje lorem ipsum dolor sit amet el mensaje lorem ipsum dolor sit amet
          .img.tiny(style="background-image:url('/images/joinity-temp/usuario.png');")