section
  header
    h2.font.oscuro Mensajes
  ul
    li
      a(href="")
        .content
          .img.avatar.circle(style="background-image:url('/images/joinity-temp/background.jpg');")
          .data
            h4.verde Antoni Espinosa
            p 27 de mayo, 2013
            p.sub ¿Hola qué tal estás? Cuéntame cómo te va la vida...
    li.active
      .content
        .img.avatar.circle(style="background-image:url('/images/joinity-temp/background.jpg');")
        .data
          h4.verde Antoni Espinosa
          p 27 de mayo, 2013
          p.sub ¿Hola qué tal estás?