section
  header
    h2.font.oscuro Eventos
  ul
    li
      a(href="")
        .content
          .img.avatar.circle(style="background-image:url('/static/images/joinity-temp/usuario.png');")
          .data
            h4.verde Paint ball el s치bado por la ma침ana
            p 27 de mayo, 2013
            p.sub En Valencia, Spain
    li.active
      .content
        .img.avatar.circle(style="background-image:url('/static/images/joinity-temp/aficiones.png');")
        .data
            h4.verde Paint ball el s치bado por la ma침ana
            p 27 de mayo, 2013
            p.sub En Valencia, Spain