.banner.brand-banner.cover.text-center(style="background-image:url('/images/joinity-temp/apple-banner.jpg')")
    
  .main-data
    .img.avatar.big(style="background-image:url('/images/joinity-temp/apple-avatar.jpg')")
    h1.claro Apple Computers
    ul
      li
        h6.claro
          b 24
          | seguidores
      li.no-number
        h6.claro www.apple.com
      li
        h6.claro.no-number Cupertino, California
      li
        a.no-number(href="")
          h6.claro Más información
    .btn.amarillo.normal.alargado.embossed Sigue a esta marca