.home-column
  //- AFICIONES
  section
    header.lined
      h3.font.oscuro Planes patrocinados por 
        span Apple Computers
      a.inactive(href="")
    .contenido.centrador
      //- ESTO ES UN JOINITY
      .joinity-thumb.azul
        .front
          p.claro.small.text-transform Nos vamos de viaje al país vasco
          p.claro.sub En la Rioja, por 35€
        .back
          .fecha
            p.claro 25
            h5.claro jun
          .donut
            .rueda.img-circle
              .donutchart(data-percent="46")
              .numjoiner
            .datos
              p.claro 46/100
              h6.claro joiners
          .votacion
            i.icon-star.active
            i.icon-star.active
            i.icon-star
            i.icon-star
            i.icon-star
        .img.cover.display-block(style="background-image:url('/static/images/joinity-temp/avatar.jpeg')")
      //- ESTO ES UN JOINITY
      .joinity-thumb.azul
        .front
          p.claro.small.text-transform Nos vamos de viaje al país vasco
          p.claro.sub En la Rioja, por 35€
        .back
          .fecha
            p.claro 25
            h5.claro jun
          .donut
            .rueda.img-circle
              .donutchart(data-percent="46")
              .numjoiner
            .datos
              p.claro 46/100
              h6.claro joiners
          .votacion
            i.icon-star.active
            i.icon-star.active
            i.icon-star
            i.icon-star
            i.icon-star
        .img.cover.display-block(style="background-image:url('/static/images/joinity-temp/avatar.jpeg')")
      //- ESTO ES UN JOINITY
      .joinity-thumb.azul
        .front
          p.claro.small.text-transform Nos vamos de viaje al país vasco
          p.claro.sub En la Rioja, por 35€
        .back
          .fecha
            p.claro 25
            h5.claro jun
          .donut
            .rueda.img-circle
              .donutchart(data-percent="46")
              .numjoiner
            .datos
              p.claro 46/100
              h6.claro joiners
          .votacion
            i.icon-star.active
            i.icon-star.active
            i.icon-star
            i.icon-star
            i.icon-star
        .img.cover.display-block(style="background-image:url('/static/images/joinity-temp/avatar.jpeg')")
    
  //- COMPRAS
  section
    header.lined
      h3.font.oscuro Joinities de compras activos de 
        span Apple Computers
      a.inactive(href="")
    .contenido.centrador
      //- ESTO ES UN JOINITY
      .joinity-thumb.rojo
        .front
          p.claro.small.text-transform Nos vamos de viaje al país vasco
          p.claro.sub En la Rioja, por 35€
        .back
          .fecha
            p.claro 25
            h5.claro jun
          .donut
            .rueda.img-circle
              .donutchart(data-percent="46")
              .numjoiner
            .datos
              p.claro 46/100
              h6.claro joiners
          .votacion
            i.icon-star.active
            i.icon-star.active
            i.icon-star
            i.icon-star
            i.icon-star
        .img.cover.display-block(style="background-image:url('/static/images/joinity-temp/avatar.jpeg')")
      //- ESTO ES UN JOINITY
      .joinity-thumb.rojo
        .front
          p.claro.small.text-transform Nos vamos de viaje al país vasco
          p.claro.sub En la Rioja, por 35€
        .back
          .fecha
            p.claro 25
            h5.claro jun
          .donut
            .rueda.img-circle
              .donutchart(data-percent="46")
              .numjoiner
            .datos
              p.claro 46/100
              h6.claro joiners
          .votacion
            i.icon-star.active
            i.icon-star.active
            i.icon-star
            i.icon-star
            i.icon-star
        .img.cover.display-block(style="background-image:url('/static/images/joinity-temp/avatar.jpeg')")
      //- ESTO ES UN JOINITY
      .joinity-thumb.rojo
        .front
          p.claro.small.text-transform Nos vamos de viaje al país vasco
          p.claro.sub En la Rioja, por 35€
        .back
          .fecha
            p.claro 25
            h5.claro jun
          .donut
            .rueda.img-circle
              .donutchart(data-percent="46")
              .numjoiner
            .datos
              p.claro 46/100
              h6.claro joiners
          .votacion
            i.icon-star.active
            i.icon-star.active
            i.icon-star
            i.icon-star
            i.icon-star
        .img.cover.display-block(style="background-image:url('/static/images/joinity-temp/avatar.jpeg')")

  //- RESERVAS RESTAURANTES
  section
    header.lined
      h3.font.oscuro Restaurantes de 
        span  100 Montaditos
      a.inactive(href="")
    .contenido.centrador

      //- ESTO ES UN RESTAURANTE
      .joinity-thumb.verde
        .front
          p.claro.small.text-transform 100 Montaditos
          p.claro.sub Valencia, c/ Gascó Oliag
        .back
          .fecha
          .donut
            .rueda.img-circle
            .datos
              p.claro Reserva
              p.claro una mesa
          .votacion
            i.icon-star.active
            i.icon-star.active
            i.icon-star
            i.icon-star
            i.icon-star
        .img.cover.display-block(style="background-image:url('/static/images/joinity-temp/avatar.jpeg')")
        
  //- RESERVAS HOTELES
  section
    header.lined
      h3.font.oscuro Hoteles de 
        span  NH Hoteles
      a.inactive(href="")
    .contenido.centrador

      //- ESTO ES UN RESTAURANTE
      .joinity-thumb.verde
        .front
          p.claro.small.text-transform Hotel NH
          p.claro.sub Madrid, Puerta de Atocha
        .back
          .fecha
          .donut
            .rueda.img-circle
            .datos
              p.claro Reserva
              p.claro una habitación
          .votacion
            i.icon-star.active
            i.icon-star.active
            i.icon-star
            i.icon-star
            i.icon-star
        .img.cover.display-block(style="background-image:url('/static/images/joinity-temp/avatar.jpeg')")
