extends ../../../../layouts/layout-1-column

block singleColumn
  .single-column.edit-page.step02
    h1.font.verde.text-center Edita tu perfil
    h3.font.oscuro.text-center Como te verán otros usuarios
    form.giant.container-2-columns.layout-event
      h3.font.verde.lined.display-block Datos generales
      ul
        li
          p.first-column Tu nombre completo
          .second-column
            input.form-control.normal(placeholder="")
            p.small.gris *Tu nombre y tu primer apellido
        li
          p.first-column Tu correo electrónico
          .second-column
            input.form-control.normal(placeholder="")
        li
          p.first-column Género
          .second-column
            .form-group.grisclaro.normal
              input.check(type="radio", value="yes",name="answer",data-label="Masculino")
              input.check(type="radio", value="no",name="answer",data-label="Femenino")
              input.check(type="radio", value="no",name="answer",data-label="Otro")
          li
            p.first-column Fecha de nacimiento
            .second-column
              input.form-control.normal.datepicker(type="text",value="")
              p.small.gris *Haz click y selecciona el día que naciste
        li
          p.first-column Tu ciudad
          .second-column
            input.form-control.normal(placeholder="")

      h3.font.verde.lined.display-block Fotos
      ul
        li
          p.first-column Tu foto de perfil
          .second-column
            .fileupload.fileupload-new(data-provides="fileupload")
              span.btn.grisclaro.normal.btn-file
                span.fileupload-new
                  i.icon-upload.icon-large
                  | Selecciona un archivo
                span.fileupload-exists Cambia
                input(type="file")
              span.fileupload-preview.oscuro
              a.close.fileupload-exists(href="#",data-dismiss="fileupload",style="float:none;")
                i.icon-remove-sign
              p.small.gris *Con una resolución mínima de 200x200
        li
          p.first-column Foto de portada
          .second-column
            .cambiaImagen
              .img.big(style="background-image:url('/static/images/joinity-temp/beijing.png')")
              .upload.existe
                .fileupload.fileupload-new(data-provides="fileupload")
                  span.btn.grisclaro.normal.btn-file
                    span.fileupload-new
                      i.icon-upload.icon-large
                      | Selecciona un archivo
                    span.fileupload-exists Cambia
                    input(type="file")
                  span.fileupload-preview.oscuro
                  a.close.fileupload-exists(href="#",data-dismiss="fileupload",style="float:none;")
                    i.icon-remove-sign
                  p.small.gris *Una foto de mayor tamaño que decorará tu perfil de usuario
        li
          p.first-column Fotos de tus intereses
          .second-column
            .fileupload.fileupload-new(data-provides="fileupload")
              span.btn.grisclaro.normal.btn-file
                span.fileupload-new
                  i.icon-upload.icon-large
                  | Selecciona un archivo
                span.fileupload-exists Cambia
                input(type="file")
              span.fileupload-preview.oscuro
              a.close.fileupload-exists(href="#",data-dismiss="fileupload",style="float:none;")
                i.icon-remove-sign
                
          p.first-column
          .second-column
            .fileupload.fileupload-new(data-provides="fileupload")
              span.btn.grisclaro.normal.btn-file
                span.fileupload-new
                  i.icon-upload.icon-large
                  | Selecciona un archivo
                span.fileupload-exists Cambia
                input(type="file")
              span.fileupload-preview.oscuro
              a.close.fileupload-exists(href="#",data-dismiss="fileupload",style="float:none;")
                i.icon-remove-sign
                
          p.first-column
          .second-column
            .fileupload.fileupload-new(data-provides="fileupload")
              span.btn.grisclaro.normal.btn-file
                span.fileupload-new
                  i.icon-upload.icon-large
                  | Selecciona un archivo
                span.fileupload-exists Cambia
                input(type="file")
              span.fileupload-preview.oscuro
              a.close.fileupload-exists(href="#",data-dismiss="fileupload",style="float:none;")
                i.icon-remove-sign
                
          p.first-column
          .second-column
            .fileupload.fileupload-new(data-provides="fileupload")
              span.btn.grisclaro.normal.btn-file
                span.fileupload-new
                  i.icon-upload.icon-large
                  | Selecciona un archivo
                span.fileupload-exists Cambia
                input(type="file")
              span.fileupload-preview.oscuro
              a.close.fileupload-exists(href="#",data-dismiss="fileupload",style="float:none;")
                i.icon-remove-sign

    //
      form.giant.container-2-columns.layout-event
        h3.font.verde.lined.display-block Datos generales
        ul
          li
            p.first-column Input text de una línea
            .second-column
              input.form-control.normal(placeholder="")
              p.small.gris *Elige un nombre breve y descriptivo de la actividad que llevaréis a cabo.
  
          li
            p.first-column Textarea de más de una línea
            .second-column
              textarea.form-control.normal
              p.small.gris *Cualquier dato importante para los participantes
          li
            p.first-column Calendario o date-picker
            .second-column
              input.form-control.normal.datepicker(type="text",value="")
              p.small.gris *Selecciona una fecha
          li
            p.first-column Elige con un dropdown
            .second-column
              select.selectpicker.btn.grisclaro.normal.text-left
                optgroup(label="picnic")
                  option.unread Esto es una opción
                  option.read Esto es una opción
          li
            p.first-column Checkbox buttons
            .second-column
              .form-group.grisclaro.normal.task
                input.check.grisclaro#uno(type="checkbox", value="yes",name="uno",data-label="Un checkbox normal")
                input.check.grisclaro#dos(type="checkbox", value="yes",name="uno",data-label="Otro checkbox normal")
          li
            p.first-column Radio buttons
            .second-column
              .form-group.grisclaro.normal
                input.check(type="radio", value="yes",name="answer",data-label="Este es el label")
                input.check(type="radio", value="no",name="answer",data-label="Otra opción")
          li
            p.first-column Sube un archivo
            .second-column
              .fileupload.fileupload-new(data-provides="fileupload")
                span.btn.grisclaro.normal.btn-file
                  span.fileupload-new
                    i.icon-upload.icon-large
                    | Selecciona un archivo
                  span.fileupload-exists Cambia
                  input(type="file")
                span.fileupload-preview.oscuro
                a.close.fileupload-exists(href="#",data-dismiss="fileupload",style="float:none;")
                  i.icon-remove-sign

    .layout-event
      h3.font.verde.lined.display-block Tus contactos
      a.btn.normal.amarillo.text-transform.busca-contactos(href="#modal-edita-contactos",data-toggle="modal") Busca nuevos contactos
      ul.list
        li
          .img.small(style="background-image:url('/static/images/joinity-temp/familyandfriends.png');")
          p.oscuro
            b Borja de Gregorio
            span Valencia
          .float-right
            .btn.tiny.azul.text-transform Ver perfil
            .btn.tiny.rojo.text-transform Eliminar
        li.fin
        
    .layout-event
      h3.font.verde.lined.display-block Tus aficiones
      a.btn.normal.amarillo.text-transform.busca-contactos(href="#modal-edita-aficiones",data-toggle="modal") Busca nuevas aficiones
      ul.list
        li
          .img.small(style="background-image:url('/static/images/joinity-temp/familyandfriends.png');")
          p.oscuro
            b Kitesurf
            span Deportes
          .float-right
            .btn.tiny.azul.text-transform Ver afición
            .btn.tiny.rojo.text-transform Eliminar
        li.fin
