.banner.cover.text-center(style="background-image:url('/images/joinity-temp/compras-banner.jpg')")
  .top-data
    .votacion.no-votado
      i.icon-star.active
      i.icon-star.active
      i.icon-star
      i.icon-star
      i.icon-star
    
  .main-data
    h6 Tecnología > gadgets
    .img.avatar.big(style="background-image:url('/images/joinity-temp/compras02.png')")
    h1.claro iPhone 5s
    a.btn.amarillo.normal.more-info() Únete y cómpralo
    .btn.azul.normal.more-info Información del producto
    
  .bottom-data
    .visible-data.large
      ul
        li
          h6.claro
            b 25
            | joiners
        li
          h6.claro
            b 15%
            | descuento
        li
          h6.claro
            b 17
            | días
        li
          h6.claro
            b 300
            | euros
    .hidden-data
      ul
        li
          .field
            h5.claro Administrador
            h5.azul Borja de Gregorio
          .field
            h5.claro Fecha de creación
            h5.azul 27.05.2013
        li
          .field
            h5.claro Requisitos
            h5.azul Sin requisitos
        li
          .field
            h5.claro ¿Se repite?
            h5.azul Semanalmente
          .field
            h5.claro Nivel necesario
            h5.azul Sin nivel
        li
          .field
            h5.claro Descripción
            h5.azul Lorem ipsum dolor sit amet consqequetur adis cipit erat
            