.layout-joinity {
  .two-columns-layout {
    .left-column {
      margin-top:0;
      padding-top:25px;
      form.giant {
        &.photoUpload {
          position:relative;
          z-index:1;
        }
        input.form-control {
          background-color:@claro;
          .placeholder(@gris);
        }
      }
    }
  }
}