//- Escribir mensaje
form.giant.write
  .form-group.form-user
    .img.avatar.cover(style="background-image:url('/static/images/joinity-temp/avatar.jpeg')")
    input.form-control.big.framed(placeholder="Cuéntale algo al grupo")
    .button-group
      input.btn.small.azul.text-transform(type="submit") Enviar
      .btn.small.azul.changeTo
        i.icon-camera.icon-large
//- Subir foto
form.giant.photoUpload.hide
  .fileupload.fileupload-new(data-provides="fileupload")
    span.btn.grisclaro.normal.btn-file
      span.fileupload-new
        i.icon-upload.icon-large
        | Selecciona una foto
      span.fileupload-exists Cambia
      input(type="file")
    span.fileupload-preview.oscuro
    a.close.fileupload-exists(href="#",data-dismiss="fileupload",style="float:none;")
      i.icon-remove-sign
    .button-group
      input.btn.small.azul.text-transform(type="submit") Enviar
      .btn.small.azul.changeTo
        i.icon-pencil.icon-large

.timeline
  .line
  .item.message
    .item-data
      .btn.azul.big.btn-block
        i.icon-comment.icon-large
      .btn.gris.tiny.btn-block 12 JUN
    .item-content
      .credits
        .img.avatar.tiny(style="background-image:url('/static/images/joinity-temp/avatar.jpeg')")
        h6.grisclaro
          a Fernando Guirao
          | ha dicho
        p Acabo de reservar una mesa en la Parmigiana
        .btn.grisclaro.normal.text-change.answer Responder
        include comments
  .item.picture
    .item-data
      .btn.verde.big.btn-block
        i.icon-camera.icon-large
      .btn.gris.tiny.btn-block 12 JUN
    .item-content
      .credits
        .img.avatar.tiny(style="background-image:url('/static/images/joinity-temp/avatar.jpeg')")
        h6.grisclaro
          a Fernando Guirao
          | ha dicho
        .img.display-block.big(style="background-image:url('/static/images/joinity-temp/avatar.jpeg')")
        br
        .btn.grisclaro.normal.text-change.answer Responder
        
  .item.movie
    .item-data
      .btn.rojo.big.btn-block
        i.icon-film.icon-large
      .btn.gris.tiny.btn-block 12 JUN
    .item-content
      .credits
        .img.avatar.tiny(style="background-image:url('/static/images/joinity-temp/avatar.jpeg')")
        h6.grisclaro
          a Fernando Guirao
          | ha dicho
        .img.display-block.big(style="background-image:url('/static/images/joinity-temp/avatar.jpeg')")
        br
        .btn.grisclaro.normal.text-change.answer Responder
  
  .item.poll