section.reservations.layout-event
  header.no-image
    //- .img.display-block.big(style="background-image:url('/static/images/joinity-temp/aficiones.png')")
    h4.oscuro Detalles de la factura número 23322
    h3.verde Concepto: concepto de la factura
    p.gris.small
      | Notas del administrador del pago: lorem ipsum dolor sit amet consequetur adispicit erat.
    .btn.amarillo.small.text-transform Descarga una copia en pdf

  .content

    h3.font.verde.lined.display-block Datos del emisor
    p.font.oscuro Soluciones Corporativas IP, S.L.U.
    p.font.oscuro NIF B-57333601
    p.font.oscuro Ronda Institut, 24
    p.font.oscuro 07500 Manacor (Baleares) - España
    p.font.oscuro www.dondominio.com - info@dondominio.com

    h3.font.verde.lined.display-block Datos de cliente
    p.font.oscuro Soluciones Corporativas IP, S.L.U.
    p.font.oscuro NIF B-57333601
    p.font.oscuro Ronda Institut, 24
    p.font.oscuro 07500 Manacor (Baleares) - España
    p.font.oscuro www.dondominio.com - info@dondominio.com

    h3.font.verde.lined.display-block Información
    br
    table.table.table-striped.oscuro
      thead
        tr
          th Nº factura
          th Fecha
          th Forma de pago
          th Nº cliente
      tbody
        tr
          td dd23231
          td 01/10/2013
          td PayPal
          td 03434
        tr
          td dd23231
          td 01/10/2013
          td PayPal
          td 03434
    br
    table.table.table-striped.oscuro
      thead
        tr
          th Concepto
          th 
          th Importe
      tbody
        tr
          td Compra de bicicleta
          td
          td 14,90 €
      tfoot
        tr
          td 
          td Subtotal
          td 14,90 €
        tr
          td
          td Cuota IVA (21%)
          td 3,13 €
        tr
          td
          td TOTAL
          td 18,03 €
          
        