extends ../../../layouts/layout-1-column

block singleColumn
  .single-column.edit-page
    h1.font.verde.text-center ¿Qué tipo de joinity quieres crear?
    h3.font.oscuro.text-center Selecciona un opción
    .crea-botones
      a.aficiones(href="/joinities/create/2")
        img(src="/static/images/ui/mapa@2x.png")
        p.claro Aficiones
        p.oculto Deportes, juegos de mesa, viajes o conciertos: disfruta de tus aficiones favoritas en tu ciudad, planifica todos los detalles y compártelas con otros joiners cerca de ti.
      a.compras(href="/joinities/create/2")
        img(src="/static/images/ui/bolsa@2x.png")
        p.claro Compras
        p.oculto ¿Te gustaría ver en Joinity algún producto específico con descuento de grupo? Haz click aquí e indícanos cuál: quizás te sorprendamos antes de lo que esperas...
      a.family(href="/joinities/create/2")
        img(src="/static/images/ui/casa@2x.png")
        p.claro Family & friends
        p.oculto Un grupo privado con tus amigos y familiares para planear actividades, cumpleaños, comprar regalos en grupo o realizar reservas en hoteles y restaurantes.
    ul.pages
      li.activo
        .ball 1
      li
        .ball
      li 
        .ball 
      li 
        .ball