.banner.sliced
  .slice.cover(style="background-image:url('/static/images/joinity-temp/background.jpg')")
    .bottom-data
      .visible-data
        ul
          li
            h6.claro
              b 270
              | seguidores
          li
            h6.claro
              b 30
              | joinitys
  .slice
    .informacion
      h1.oscuro Kytesurf
      h3.font.oscuro Deportes
      .btn.amarillo.grande Añadir afición
      p Kitesurfing or kiteboarding is a surface water sport combining aspects of wakeboarding, windsurfing, surfing, paragliding, and
    .bottom-data
      .visible-data
        ul
          li
            a.btn.btn-block.transparente(href="") Crea un joinity de Kytesurf ahora