section.reservations.layout-event
  header
    .img.display-block.big(style="background-image:url('/static/images/joinity-temp/aficiones.png')")
    h4.oscuro Detalles de la reserva en tu
    h3.verde Restaurante Venta del Puerto
  .content

    h3.font.verde.lined.display-block Gestiona esta reserva
    .buttons
      .btn.verde.small.text-transform Acepta esta reserva
      .btn.rojo.small.text-transform Cancela esta reserva
      .btn.grisclaro.tiny.text-transform Contacta con el gestor de la reserva

    h3.font.verde.lined.display-block Fechas de la reserva
    p.oscuro
      span Inicio:
      | 26 de agosto de 2013
    p.oscuro
      span Fin:
      | 2 de agosto de 2013

    h3.font.verde.lined.display-block Participantes
    ul.list
      li
        .img.small(style="background-image:url('/static/images/joinity-temp/familyandfriends.png');")
        p.oscuro
          b Borja de Gregorio
          span Valencia
        .btn.small.azul.float-right.text-transform Gestor de la reserva
      li
        .img.small(style="background-image:url('/static/images/joinity-temp/familyandfriends.png');")
        p.oscuro
          b Borja de Gregorio
          span Valencia
        .btn.tiny.grisclaro.float-right.text-transform Participante

      li.fin