section.reservations.layout-event
  header
    .img.display-block.big(style="background-image:url('/images/joinity-temp/aficiones.png')")
    h4.oscuro Detalles de la reserva en
    h3.verde Restaurante Venta del Puerto
    p.gris.small
      | El restaurante Venta del Puerto es un referente desde 1990 bla bla bla lorem ipsum dolor sit amet consequetur adispicit
  .content

    h3.font.verde.lined.display-block Fechas de la reserva
    p.oscuro
      span Inicio:
      | 26 de agosto de 2013
    p.oscuro
      span Fin:
      | 2 de agosto de 2013

    h3.font.verde.lined.display-block Participantes
    ul.list
      li
        .img.small(style="background-image:url('/images/joinity-temp/familyandfriends.png');")
        p.oscuro
          b Borja de Gregorio
          span Valencia
        .btn.small.azul.float-right.text-transform Sois amigos
      li
        .img.small(style="background-image:url('/images/joinity-temp/familyandfriends.png');")
        p.oscuro
          b Borja de Gregorio
          span Valencia
        .btn.small.azul.float-right.text-transform Sois amigos
      li.fin

    h3.font.verde.lined.display-block Ubicaci칩n
    p.oscuro
      span Direcci칩n:
      | C/ La Encina, 15. Teruel, Espa침a.
    img.img.display-block(src="http://maps.googleapis.com/maps/api/staticmap?center={{lugar.lugar}}&zoom=13&size=600x500&maptype=roadmap&markers=color:blue%7Clabel:S%7C40.702147,-74.015794&markers=color:green%7Clabel:G%7C40.711614,-74.012318&markers=color:red%7Ccolor:red%7Clabel:C%7C40.718217,-73.998284&sensor=false",alt="")
    
    h3.font.verde.lined.display-block Gestiona esta reserva
    .btn.rojo.small.text-transform Solicita su cancelaci칩n
    .btn.azul.small.text-transform Escribe un mensaje a este restaurante