section
  header
    h4.amarillo Tareas en el joinity
    h1.font.oscuro Viaje a Formentera
  .content.tasks
    ul
      li
        .task
          .form-group.big.task
            input.check#uno(type="checkbox",value="yes",name="uno",data-label="Esto es una tarea con una descripción de más de una línea")
          .date
            h4.grisclaro
              span 25
              | dec
          .more-info
            p.sub.gris Asignada por Borja de Gregorio
            p.sub.gris Eliminar esta tarea
      li
        .task
          .form-group.big.task
            input.check#uno(type="checkbox",value="yes",name="uno",data-label="Esto es una tarea con una descripción de más de una línea")
          .date
            h4.grisclaro
              span 25
              | dec
          .more-info
            p.sub.gris Asignada por Borja de Gregorio
            p.sub.gris Eliminar esta tarea
      li
        .task
          .form-group.big.task
            input.check#uno(type="checkbox",value="yes",name="uno",data-label="Esto es una tarea con una descripción de más de una línea")
          .date
            h4.grisclaro
              span 25
              | dec
          .more-info
            p.sub.gris Asignada por Borja de Gregorio
            p.sub.gris Eliminar esta tarea
      li
        .task
          .form-group.big.task
            input.check#uno(type="checkbox",value="yes",name="uno",data-label="Esto es una tarea con una descripción de más de una línea")
          .date
            h4.grisclaro
              span 25
              | dec
          .more-info
            p.sub.gris Eres el administrador de esta tarea
            p.sub.gris Asignada a:
            ul.asignada
              li
                .img.tiny(style="background-image:url('/images/joinity-temp/familyandfriends.png');")
                p.sub.gris Borja de Gregorio
                .btn.tiny.amarillo Pendiente
              li
                .img.tiny(style="background-image:url('/images/joinity-temp/familyandfriends.png');")
                p.sub.gris Sara García
                .btn.tiny.amarillo Pendiente
              li.fin
      li
        .task
          .form-group.big.task
            input.check#uno(type="checkbox",value="yes",name="uno",data-label="Esto es una tarea con una descripción de más de una línea")
          .date
            h4.grisclaro
              span 25
              | dec
          .more-info
            p.sub.gris Asignada por Borja de Gregorio
            p.sub.gris Eliminar esta tarea