section
  header
    h2.font.oscuro Tareas
  ul
    li
      a(href="")
        .content
          .img.avatar.circle(style="background-image:url('/images/joinity-temp/background.jpg');")
          .data
            h4.verde
              span En
              | Viaje a Formentera
            p Comprar y llevar Kayak
            p.sub 24 de agosto, 2013
    li.active
      .content
        .img.avatar.circle(style="background-image:url('/images/joinity-temp/background.jpg');")
        .data
            h4.verde
              span En
              | Viaje a Formentera
            p Esta es otra tarea
            p.sub 24 de agosto, 2013