extends ../../../../layouts/layout-1-column

block singleColumn
  .single-column.edit-page
    h1.font.verde.text-center ¿Qué tipo de joinity quieres crear?
    h3.font.oscuro.text-center Selecciona un opción
    .crea-botones
      .aficiones
        img(src="/images/ui/mapa@2x.png")
        p.claro Aficiones
      .compras
        img(src="/images/ui/bolsa@2x.png")
        p.claro Compras
      .family
        img(src="/images/ui/casa@2x.png")
        p.claro Family & friends
    ul.pages
      li.activo
        .ball 1
      li
        .ball
      li 
        .ball 
      li 
        .ball