extends ../../../../layouts/layout-1-column

block singleColumn
  .single-column.edit-page.step02
    h1.font.verde.text-center Define los detalles de tu joinity
    h3.font.oscuro.text-center Completa todos los campos
    form.giant.container-2-columns.layout-event
      h3.font.verde.lined.display-block Datos generales
      ul
        li
          p.first-column Input text de una línea
          .second-column
            input.form-control.normal(placeholder="")
            p.small.gris *Elige un nombre breve y descriptivo de la actividad que llevaréis a cabo.

        li
          p.first-column Textarea de más de una línea
          .second-column
            textarea.form-control.normal
            p.small.gris *Cualquier dato importante para los participantes
        li
          p.first-column Calendario o date-picker
          .second-column
            input.form-control.normal.datepicker(type="text",value="")
            p.small.gris *Selecciona una fecha
        li
          p.first-column Elige con un dropdown
          .second-column
            select.selectpicker.btn.grisclaro.normal.text-left
              optgroup(label="picnic")
                option.unread Esto es una opción
                option.read Esto es una opción
        li
          p.first-column Checkbox buttons
          .second-column
            .form-group.grisclaro.normal.task
              input.check.grisclaro#uno(type="checkbox", value="yes",name="uno",data-label="Right positioned label (no param)")
        li
          p.first-column Radio buttons
          .second-column
                
            .form-group.grisclaro.normal
              input.check(type="radio", value="yes",name="answer",data-label="Este es el label")