#search {
  ul.nav.nav-tabs {
    margin-top:30px;
    border-bottom:1px dotted darken(@verde,10%);
    padding-bottom:5px;
    text-align:center;
    position:relative;
    margin-bottom:20px;
    li {
      float:none;
      display:inline-block;
    }
    .btn {
      border-color:transparent;
      &:hover {
        border:1px solid @claro;
        background-color:transparent;
      }
    }
    .active a {
      background-color:transparent!important;
      color:@amarillo;
      &:hover {
        border-color:transparent!important;
        background-color:transparent!important;
      }
    }
  }
}